[submodule "data/simulated/BoolODE"]
	path = data/simulated/BoolODE
	url = https://github.com/zsteve/BoolODE
[submodule "tools/PBA"]
	path = tools/PBA
	url = https://github.com/AllonKleinLab/PBA
[submodule "tools/pba"]
	path = tools/pba
	url = https://github.com/zsteve/pba
[submodule "tools/locaTE.jl"]
	path = tools/locaTE.jl
	url = https://github.com/zsteve/locaTE.jl
[submodule "tools/CeSpGRN"]
	path = tools/CeSpGRN
	url = https://github.com/PeterZZQ/CeSpGRN
[submodule "tools/TENET"]
	path = tools/TENET
	url = https://github.com/neocaleb/TENET/
[submodule "tools/SCODE"]
	path = tools/SCODE
	url = https://github.com/hmatsu1226/SCODE
[submodule "tools/GRISLI"]
	path = tools/GRISLI
	url = https://github.com/PCAubin/GRISLI
[submodule "tools/Scribe-py"]
	path = tools/Scribe-py
	url = https://github.com/aristoteleo/Scribe-py
[submodule "tools/velocity_notebooks"]
	path = tools/velocity_notebooks
	url = https://github.com/HaghverdiLab/velocity_notebooks/
[submodule "tools/velocity_package"]
	path = tools/velocity_package
	url = https://github.com/HaghverdiLab/velocity_package
[submodule "data/tools/GENIE3"]
	path = data/tools/GENIE3
	url = https://github.com/vahuynh/GENIE3
[submodule "data/tools/SINCERITIES"]
	path = data/tools/SINCERITIES
	url = https://github.com/zsteve/SINCERITIES
